.symbol {
  font-size: 196px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(var(--text-primary));
  cursor: pointer;

  flex: 1;
}

.symbolContainer {
  perspective: 500px;
  padding: 0 !important;
  display: flex;
}
