.container {
  /* padding: 2rem; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.post {
  margin: auto;
}

.projectName,
.projectTag {
  font-family: VG;
  text-transform: capitalize;
  letter-spacing: 4px;
}

.projectTag {
}

.projectName {
  /* position: absolute; */
}

.headerContainer {
  position: relative;

  /* display: flex; */
  /* justify-content: center; */
  /* background-color: black; */
  /* padding-top: 7vh; */
}

.tagContainer {
  position: absolute;
  bottom: 2rem;
  left: 30vw;
  /* background-color: black; */
  /* padding: 1rem; */
  /* transform: translate(-50%, 0); */
}

.headerImage {
  min-height: 66vh;
  width: 100%;
  object-fit: cover;
  /* width: 40vw;
  height: 30vw; */
}

.contentContainer {
  width: 40vw;
  margin: auto;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contentContainer > img {
  width: 100%;
}

.contentContainer > p {
  /* text-align: justify; */
  line-height: 150%;
}
