.container {
  /* padding: 2rem; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.post {
  margin: auto;
}

.projectName,
.projectTag {
  font-family: VG;
  text-transform: capitalize;
  letter-spacing: 4px;
}

.projectTag {
  font-size: 2rem;
}

.projectName {
  font-size: 3rem;
}

.headerContainer {
  position: relative;
}

.tagContainer {
  position: absolute;
  bottom: 2rem;
  left: 20vw;
  z-index: 5;
}

.headerImage {
  min-height: 66vh;
  max-height: 66vh;
  width: 100%;
  object-fit: cover;
  object-position: 50% 20%;
}

.imageMask {
  background: linear-gradient(180deg, transparent, black) no-repeat;
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0px;
  opacity: 0.4;
  pointer-events: none;
}

.imageContainer {
  position: relative;
}

.contentContainer {
  width: 60vw;
  margin: auto;
  padding: 2rem 0 10rem 0;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
/* 
.contentContainer > *:first-child() {
  flex: 1;
}

.contentContainer > *:nth-child(2) {
  flex: 1;
} */
.contentContainer > img {
  width: 100%;
}

.contentContainer > p {
  /* text-align: justify; */
  line-height: 150%;
}
