.container {
  /* padding: 2rem; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.post {
  margin: auto;
}

.projectName,
.projectTag {
  font-family: VG;
  text-transform: capitalize;
  letter-spacing: 4px;
  color: rgb(var(--text-light));
}

.projectTag {
  font-size: 2rem;
}

.projectName {
  font-size: 3rem;
}

.headerContainer {
  position: relative;
}

.tagContainer {
  position: absolute;
  bottom: 2rem;
  left: calc(var(--blog-width) / 2);
  z-index: 5;
}

.headerImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 20%;
}

.imageMask {
  background: linear-gradient(180deg, transparent, black) no-repeat;
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0px;
  opacity: 0.4;
  pointer-events: none;
  box-sizing: border-box;
}

.imageContainer {
  position: relative;
  /* min-height: 66vh; */
  height: 66vh;
}

.contentContainer {
  width: var(--blog-width);
  margin: auto;
  padding: 2rem 0 10rem 0;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.contentContainer > img {
  width: 100%;
}

.contentContainer > p {
  line-height: 150%;
}

.overviewContainer {
  display: flex;
  justify-content: space-between;
}
