.projectContainer {
  display: flex;
  flex-direction: column;

  /* grid-row: span 2; */
  /* grid-column: span 2; */
}

.projectContainer > p {
  font-family: VG, monospace;
}

.projectContainer > div > p {
  font-family: VG, monospace;
}

.projectText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.thumbnail {
  width: 100%;
  height: 100%;
  aspect-ratio: 4/3;
  border-radius: 8px;
}

.projectName {
  text-transform: capitalize;
  border: 1px solid rgb(var(--color-gold));

  color: rgb(var(--text-primary));

  border-bottom: none;
  border-radius: 8px 8px 0 0;
  padding: 0.25rem 0.5rem;
}

.tagContainer {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.tag {
  text-transform: capitalize;
}
.year {
  font-variant-numeric: tabular-nums;
  border: 1px solid rgb(var(--color-gold));
  border-bottom: none;
  border-radius: 8px 8px 0 0;
  padding: 0.25rem 0.5rem;
}
