.navbarContainer,
.navbarVerticalContainer {
  display: flex;
  font-family: Bricolage Grotesque;
}

.navbarItem {
  font-weight: 500;
}

.navbarContainer {
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;
  flex-direction: column;
  z-index: 10;
  position: relative;
}

.navbarLinksContainer {
  display: flex;
  gap: var(--gap-2);
  align-items: center;
}

@media (min-width: 768px) {
  .navbarContainer {
    flex-direction: row;
  }
}

.navbarVerticalContainer {
  flex-direction: column;
  gap: 2rem;
  font-size: 3rem;
}
