.navbarContainer,
.navbarVerticalContainer {
  display: flex;
  font-family: Bricolage Grotesque;
  height: 4rem;

  top: 0;
}

.navbarItem {
  font-weight: 500;
}

.navbarContainer {
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  flex-direction: column;
  z-index: 10;
  position: sticky;
  background-color: rgb(var(--background-primary));
}

.navbarLinksContainer {
  display: flex;
  gap: var(--gap-2);
  align-items: center;
}

@media (min-width: 768px) {
  .navbarContainer {
    flex-direction: row;
  }
}

.navbarVerticalContainer {
  flex-direction: column;
  gap: 2rem;
  font-size: 3rem;
}
