.navbarContainer,
.navbarVerticalContainer {
  display: flex;
  font-family: Bricolage Grotesque;
  height: 4rem;

  top: 0;
}

.navbarName {
  font-size: clamp(1.5rem, 0.1043rem + 3.7915vw, 2rem);
}

.navbarItem {
  color: rgb(var(--text-red));
  font-weight: 500;
}

.navbarContainer {
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 10;
  position: sticky;
  background-color: rgb(var(--background-primary));
}

.navbarLinksContainer {
  display: flex;
  gap: var(--gap-2);
  align-items: center;
  text-transform: capitalize;
}

@media (min-width: 768px) {
  .navbarContainer {
    flex-direction: row;
  }
}

.mobileNavbar {
  display: none;
}

.mobileNavbarContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding: 2rem;

  width: 100vw;
  height: 100dvh;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  gap: 1rem;
  background-color: rgb(var(--background-dark-red));
}

.mobileNavbarItem {
  color: rgb(var(--text-red));
  font-weight: 500;
  text-transform: capitalize;
  font-size: 3rem;
}

.mobileCloseButton {
  position: absolute;
  top: 4rem;
  right: 2rem;
  line-height: 0;
}

@media (max-width: 480px) {
  .navbarLinksContainer {
    display: none;
  }

  .navbarItem,
  .navbarName {
    color: rgb(var(--text-primary));
  }
  .navbarContainer {
    background-color: rgb(var(--background-dark-red));
  }
  .mobileNavbar {
    display: block;
    color: inherit;
    line-height: 0;
  }
}
