.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Bluu;
  padding: 0rem 4rem;
}

.navbarName {
  font-size: 64px;
}

.navbarLinksContainer {
  display: flex;
  gap: 1rem;
}
