.imageTextContainer {
  gap: 2rem;
  display: flex;
  flex-direction: column-reverse;
}

@media (min-width: 768px) {
  .imageTextContainer {
    flex-direction: row;
  }
}

.container {
  padding: 0.5rem 2rem;
}

.imageContainer {
  width: 100%;
  flex: 2;
}

.portrait {
  width: 100%;
  height: auto;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--gap-2);
}

.info {
  display: flex;
  gap: var(--gap-1);
  font-size: 14px;
}

.date {
  width: fit-content;
  font-variant-numeric: tabular-nums;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.site {
  text-decoration: none;
  pointer-events: all;
}

.bioContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(296px, 1fr));
  gap: 2rem;
  padding: 2rem 0;
}

.headingContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* @media screen and (max-width: 768px) {
  .org {
    display: none;
  }
} */
