.container {
  padding: 0.5rem 2rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.imageContainer {
  width: 100%;
  flex: 2;
}

.portrait {
  width: 100%;
  height: auto;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--gap-2);
}

.info {
  display: flex;
  gap: var(--gap-1);
  font-size: 14px;
}

.date {
  width: fit-content;
  font-variant-numeric: tabular-nums;
}

.itemTitleContainer {
  display: flex;
  justify-content: space-between;
  flex: 1;
  gap: 0.5rem;
}

.site {
  text-decoration: none;
  pointer-events: all;
}

.bioContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  gap: 2rem;
  padding: 2rem 0;
}

.headingContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.organization {
  text-align: right;
}

@media (max-width: 580px) {
  .container {
    flex-direction: column;
  }
  .imageTextContainer {
    flex-direction: column;
  }

  .titleContainer {
    align-items: flex-start;
  }

  .container {
    padding: 1rem 2rem;
  }
  .organization {
    display: none;
  }
}

@media (min-width: 581px) {
  .titleContainer {
    align-items: center;
  }
}

.titleContainer {
  display: flex;
  justify-content: center;

  min-height: 90vh;
}

@media (max-width: 768px) {
  .container {
    gap: 1rem;
  }
  .bioContainer {
    grid-template-columns: 1fr;
  }
  .titleContainer {
    min-height: fit-content;
  }
}

.title {
  /* font-size: clamp(3rem, -2.4787rem + 18.9573vw, 7.5rem); */
  font-size: clamp(2.5rem, 1.0714rem + 7.1429vw, 7.5rem);
  line-height: 1.1;
}

.mobileTitleContainer {
  display: none;
}

.mobileTitle {
  font-size: 1.25rem;
}
@media (max-width: 580px) {
  .mobileTitleContainer {
    display: block;
  }
  .titleContainer {
    display: none;
  }
}

.imageTextContainer {
  display: flex;
  gap: 1rem;
}
