.container {
  padding: 0 2rem;
}

.projectContainer {
  display: grid;

  grid-template-columns: repeat(6, minmax(0px, 1fr));
  gap: 0.125rem;
}

.projectContainer > a {
  transition: filter 0.25s ease-in-out;
  opacity: 1;
}
