.container {
  padding: 0 2rem;
}

.projectContainer {
  display: grid;

  grid-template-columns: repeat(6, minmax(0px, 1fr));
  /* display: grid;
  grid-template-columns: repeat(5, minmax(0px, 1fr)); */
  /* columns: 5; */

  gap: 0.125rem;
}

.projectContainer > a {
  transition: filter 0.25s ease-in-out;
  opacity: 1;
}

.projectContainer:hover > a:not(:hover) {
  /* -webkit-filter: blur(4px); */
  /* filter: blur(4px); */
}
