.container {
  display: flex;
  /* flex: 1; */
  /* flex-direction: column; */
}

.title {
  color: rgb(var(--text-secondary));
  flex: 1;
}

.description {
  font-weight: 600;
  flex: 1;
}

.linkContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}
