.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title {
  color: rgb(var(--text-secondary));
}

.divider {
  width: 4rem;
}

.description {
  font-weight: 600;
}

.linkContainer {
  display: flex;
  flex-direction: column;
}
